h2 {
    padding-left: 200px;
    padding-top: 50px;
    font-weight: 200;
}
html{
    height: fit-content;
}

body {
    height:  100%;
}

.topnav {
    padding-left: 400px;
    position: relative;
    bottom: 10px;
    flex: 1;

}

.topnav a {
    padding-inline: 5mm;
    padding-top: 5mm;
    color: white;

}

h1 {
    padding-left: 200px;
    padding-top: 100px;
    font-weight: 100;
}

p {
    padding-left: 200px;
    padding-top: 20px;

}

p.thirdsec1 {
    position: relative;
    top: 80px;
    right: 100px;
    font-size: small;
    color: gray;

}

p.thirdsec2 {
    position: relative;
    top: -450px;
    right: -350px;
    font-size: small;
    color: gray;

}

p.thirdsec3 {
    position: relative;
    top: -900px;
    right: -850px;
    font-size: small;
    color: gray;

}

.upper-part {
    background-color: #001B3A;
    color: white;
}

button {
    background-color: #001B3A;
    color: white;
    border: 0;
}

.lower-button {

    background: #45b6fe;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
    left: 190px;

}

.topnav button {
    border: 2px solid white;
    border-radius: 20px;


}
div.carousel-inner h4{
    position: relative;
    top: 50px;
    left: 200px;
    font-weight: 300;
}






.topnav a{
    text-decoration: none;
}


h5 {
    color: #001B3A;
}



ul {
    list-style: none;
    position: relative;
    top: 20px;


}
.pricing .pricing-item {
    background-color: color-mix(in srgb, var(--accent-color), transparent 96%);
    padding: 40px 40px;
    height: 100%;
    border-radius: 15px;
}

.pricing h3 {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
}

.pricing h4 {
    color: var(--accent-color);
    font-size: 48px;
    font-weight: 700;
    font-family: var(--heading-font);
    margin-bottom: 0;
}

.pricing h4 sup {
    font-size: 28px;
}

.pricing h4 span {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 18px;
    font-weight: 500;
}

.pricing .description {
    font-size: 14px;
}

.pricing .cta-btn {
    background-color: var(--default-color);
    color: var(--contrast-color);
    display: block;
    text-align: center;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--heading-font);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 6px;
}

.pricing .cta-btn:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    text-align: left;
    line-height: 20px;
}

.pricing ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.pricing ul li:last-child {
    padding-bottom: 0;
}

.pricing ul i {
    color: #059652;
    font-size: 24px;
    padding-right: 3px;
}

.pricing ul .na {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na i {
    color: color-mix(in srgb, var(--default-color), transparent 60%);
}

.pricing ul .na span {
    text-decoration: line-through;
}

.pricing .featured {
    position: relative;
}

.pricing .featured .popular {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    padding: 5px 15px;
    margin: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.pricing .featured .cta-btn {
    background: var(--accent-color);
    color: var(--contrast-color);
}

@media (max-width: 992px) {
    .pricing .box {
        max-width: 60%;
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 767px) {
    .pricing .box {
        max-width: 80%;
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 420px) {
    .pricing .box {
        max-width: 100%;
        margin: 0 auto 30px auto;
    }
}
/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--accent-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.section-title p {
    margin-bottom: 0;
}

h3.h3thirdsec1 {
    position: relative;
    top: 80px;
    font-weight: 500;
    font-size: medium;
}

h3.h3thirdsec2 {
    position: relative;
    top: -440px;
    font-weight: 500;
    font-size: medium;
}

h3.h3thirdsec3 {
    position: relative;

    font-weight: 500;
    font-size: medium;
}

img.img-thumbnail {
    position: relative;
    left: 100px;
    top: 50px;
}

img.img-thumbnail3 {
    position: relative;
    left: 1000px;
    top: -900px;
}

img.img-thumbnail2 {
    position: relative;
    left: 500px;
    top: -400px;
}



li {
    display: inline-block;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;

}

div.bottom {
    background: #001B3A;
    color: white;
    position: relative;
    top: -900px;



}

div.h3elements {
    font-weight: 100;
    position: relative;
    left: 200px;
    top: 50px;

}

h1.hopeeee {
    color: #001B3A;
}

.lower-button2 {

    background: #45b6fe;
    border-radius: 20px;
    padding: 5px 10px;
    position: relative;
    left: 350px;
    top: 60px;

}

.lower-button3 {
    position: relative;
    left: 300px;
    top: 60px;
    border-radius: 20px;
    border: 2px solid white;
}